.div1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    /* border: solid 1px black; */
    row-gap: 20px;
    position: relative;


}

.div1 img {
    width: 250px;
}

.a_btn {
    margin-left: -180px;
    text-decoration: underline;
    font-family: AtlasGrotesk, Helvetica, san-serif;
    font-size: 13px;
    color: #545540;
}

.div2 {
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-family: AtlasGrotesk, Helvetica, san-serif;
    font-size: 13px;
    color: #545540;
}

.p1 {
    width: 50%;
    font-family: AtlasGrotesk, Helvetica, san-serif;
    font-size: 13px;
    color: #545540;
}

.p2 {
    width: 30%;
    font-family: AtlasGrotesk, Helvetica, san-serif;
    font-size: 13px;
    color: #545540;
}

.w_btn {
    position: absolute;
    top: 20px;
    left: 40px;
    background-color: #7596b8;
    height: 26px;
    width: 26px;
    padding: 3px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}