#Checkout-CartDetails{
    width: 75%;
    margin: auto;
    margin-top: 70px;
    /* border: 1px solid red; */
}

.Checkout-AddedCartItems{
    display: flex;
    width:  100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    /* border: 1px solid red; */
}

.Checkout-Cart-Product-Image{
    width: 15%;
    height: 65px;
    border-radius: 4px;
    border: 1px solid #c8c5c5;
    display: flex;
}

.Checkout-Cart-Product-Image>img{
    width: 100%;
    height: 100%;
}

.Checkout-CartItem-Desc{
    width: 65%;
    font-size: 14px;
    margin-left: 5%;
    /* font-weight: bold; */
    /* border: 1px solid red; */
}
.Checkout-CartItem-Desc p:first-child{
    font-weight: 500;
    color: rgb(77, 74, 74);
}
.Checkout-CartItem-Desc p:nth-child(2){
    color: gray;
    overflow: hidden;
    margin-top: 8px;
}
.Checkout-CartItem-Price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 15%;
    font-size: 14px;
    color: rgb(77, 74, 74);
    /* border: 1px solid red; */
}
.Checkout-CartItem-Price p:first-child{
    text-decoration: 0.8px line-through;
    color: gray;
}

hr{
    border-top: .1px solid #c8c5c5;
    background-color: #c8c5c5;
}

#Checkout-Coupon{
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}
#CouponCodeMessasge{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}
#Checkout-Coupon>input{
    width: 78%;
    height: 45px;
    border: 1px solid #c8c5c5;
    border-radius: 5px;
}

#Checkout-Coupon>input:focus{
    border: none;
    outline: 1.8px solid rgb(24, 120, 185);
}

#Checkout-Coupon>button{
    width: 20%;
    height: 45px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    background-color: #c8c5c5;
    border: none;
    cursor: pointer;
}

#Subtotal{
    /* display: flex;
    align-items: center; */
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
#Subtotal>div{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    color: gray;
    font-size: 14px;
}
#Subtotal>div p:last-child{
    color: rgb(70, 68, 68);
    font-weight: 600;
}

#Total{
    display: flex;
    margin-top: 20PX;
    margin-bottom: 10px;
    justify-content: space-between;
    color: rgb(58, 57, 57);
}
#Total span{
    font-size: 15px;
}
#Total p:last-child{
    font-size: 25px;
    font-weight: 500;
    color: rgb(58, 57, 57);
}

#quantitydivincheckoutpage{
    background-color: rgb(90, 87, 87);
    margin-left: 4%;
    margin-top: -.8%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    height: 3%;
    width: 1.5%;
    font-size: 10px;
    z-index: 2;
}

@media screen and (max-width:585px){
    #quantitydivincheckoutpage{
        background-color: rgb(90, 87, 87);
        margin-left: 6%;
        margin-top: -1%;
    }
    .Checkout-Cart-Product-Image{
        width: 15%;
        height: 50px;
    }
}


@media screen and (min-width:586px) and (max-width:900px){
    #quantitydivincheckoutpage{
        background-color: rgb(90, 87, 87);
        margin-left: 3.5%;
        margin-top: -.8%;
    }
    .Checkout-Cart-Product-Image{
        width: 15%;
        height: 55px;
    }
    .Checkout-CartItem-Desc{
        width: 65%;
        font-size: 14px;
        margin-left: 5%;}
}
